<section class="content--section full landing" style="background-image: url({{ .Params.bannerBackgroundImage }});">
  <div class="{{ .Params.bannerOverlay }}"></div>
  <div class="container landing">
    <div class="section--image">
      <img data-src="{{ .Params.bannerSideImage }}" />
    </div>
    <div class="section--info">
      <h1 class="text-shadow big">{{ .Params.bannerTitle1 }}</h1>
      {{ if .Params.bannerTitle2 }}
      <h2 class="text-shadow big subtitle">{{ .Params.bannerTitle2 }}</h2>
      {{ end }}
      <h2 class="text-shadow big">{{ .Params.bannerTitle3 }}</h2>
      <h3 class="text-shadow big alt">{{ .Params.bannerTitle4 }}</h3>
      <div>
        <a href="#program" class="section--button registration button white hover--white">
          {{ .Params.bannerActionText }}
        </a>
        {{if .Params.bannerSaveTheDate }}
          <a href="{{ .Params.bannerSaveTheDate }}"class="section--button button white no--hover">
            <i class="far fa-calendar-plus"></i> Save the Date!
          </a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
