<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Save the Date!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    @media screen and (max-width: 620px) {
      div[class="gallery"] {
        display: block !important;
      }
      div[class="item"] {
        width: 100% !important;
      }
    }
  </style>
</head>

<body style="font-family: sans-serif;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;background-color:white;">
    <tbody>
      <tr>
        <td style="padding:0;">
          <div>
            <div>
              <div>
                <div align="center" style="text-align:center;">
                  <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
                  </table>
                </div>
              </div>
            </div>
          </div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;">
            <tbody>
              <tr>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
                <td width="750" style="width:450pt;background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div align="center" style="text-align:center;margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <img data-imagetype="External" src="http://oslcfest.org/images/email-banner.png" width="100%" alt="OSLC FEST | Stockholm, Sweden | 5-6 November 2018">
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <div>
              <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;">
                  <tbody>
                    <tr>
                      <td style="background-color:white;padding:0;">
                        <span style="background-color:white;">
                          <div style="margin:0;">
                            <font face="Times New Roman,serif" size="3">
                              <span style="font-size:12pt;">
                                <font size="1">
                                  <span style="font-size:1pt;">&nbsp;</span>
                                </font>
                              </span>
                            </font>
                          </div>
                        </span>
                      </td>
                      <td width="750" style="width:450pt;background-color:white;padding:0;">
                        <span style="background-color:white;">
                          <div style="margin-top:15pt;margin-right:15pt;margin-left:15pt;">
                            <div>
                              <div style="margin-right:15pt;margin-left:15pt;">
                                <div>
                                  <div align="center" style="text-align:center;margin:0 0 12pt 0;">
                                    <font face="Times New Roman,serif" size="3">
                                      <span style="font-size:12pt;">
                                        <font face="Calibri,sans-serif" size="5" color="black">
                                          <h2 style="font-weight: normal;font-size:30pt;">Save the Date!</h2>
                                        </font>
                                      </span>
                                    </font>
                                  </div>
                                </div>
                              </div>
                              <div style="margin:0;">
                                <font face="Times New Roman,serif" size="3">
                                  <span style="font-size:12pt;">
                                    <font face="Calibri,sans-serif" color="black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed finibus urna.
                                      Aenean at felis egestas, luctus augue non, euismod orci.</font>
                                  </span>
                                </font>
                              </div>
                            </div>
                          </div>
                        </span>
                      </td>
                      <td style="background-color:white;padding:0;">
                        <span style="background-color:white;">
                          <div style="margin:0;">
                            <font face="Times New Roman,serif" size="3">
                              <span style="font-size:12pt;">
                                <font size="1">
                                  <span style="font-size:1pt;">&nbsp;</span>
                                </font>
                              </span>
                            </font>
                          </div>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;">
            <tbody>
              <tr>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
                <td width="750" style="width:450pt;background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin-top:15pt;margin-right:15pt;margin-left:15pt;">
                      <div>
                        <div style="margin:0;">
                          <font face="Times New Roman,serif" size="3">
                            <span style="font-size:12pt;">
                              <font face="Calibri,sans-serif" size="1" color="black">
                                <span style="font-size:1pt;">&nbsp;</span>
                              </font>
                            </span>
                          </font>
                        </div>
                      </div>
                    </div>
                    <div align="center" style="text-align:center;margin:0;">
                      <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border: 1px solid #1F8FDB;background-color: #43A6E8;margin: 0 auto;">
                        <tbody>
                          <tr>
                            <td style="padding:13.5pt;">
                              <div align="center" style="text-align:center;margin:0;">
                                <font face="Times New Roman,serif" size="3">
                                  <span style="font-size:12pt;">
                                    <a href="https://axacoair.se/go?Cd7BYJVK" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                                      <font face="Roboto" size="4">
                                        <span style="font-size:13.5pt;">
                                          <font color="white">
                                            <b>Register Now!</b>
                                          </font>
                                        </span>
                                      </font>
                                    </a>
                                  </span>
                                </font>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div style="margin-top:15pt;margin-right:15pt;margin-left:15pt;">
                      <div>
                        <div style="margin:0;">
                          <font face="Times New Roman,serif" size="3">
                            <span style="font-size:12pt;">
                              <font face="Calibri,sans-serif" size="1" color="black">
                                <span style="font-size:1pt;">&nbsp;</span>
                              </font>
                            </span>
                          </font>
                        </div>
                      </div>
                    </div>
                  </span>
                </td>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <div>
              <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;">
                  <tbody>
                    <tr>
                      <td style="background-color:white;padding:0;">
                        <span style="background-color:white;">
                          <div style="margin:0;">
                            <font face="Times New Roman,serif" size="3">
                              <span style="font-size:12pt;">
                                <font size="1">
                                  <span style="font-size:1pt;">&nbsp;</span>
                                </font>
                              </span>
                            </font>
                          </div>
                        </span>
                      </td>
                      <td width="750" style="width:450pt;background-color:white;padding:0;">
                        <span style="background-color:white;">
                          <div style="margin-top:15pt;margin-right:15pt;margin-left:15pt;">
                            <div>
                              <div style="margin:0;">
                                <font face="Times New Roman,serif" size="3">
                                  <span style="font-size:12pt;">
                                    <font face="Calibri,sans-serif" color="black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed finibus urna.
                                      Aenean at felis egestas, luctus augue non, euismod orci.</font>
                                  </span>
                                </font>
                              </div>
                            </div>
                          </div>
                          <div style="margin-right:15pt;margin-left:15pt;">
                            <div>
                              <div align="center" style="text-align:center;margin:0 0 12pt 0;">
                                <font face="Times New Roman,serif" size="3">
                                  <span style="font-size:12pt;">
                                    <font face="Calibri,sans-serif" size="5" color="black">
                                      <h2 style="font-weight: normal;font-size:30pt;">Keynote Speakers</h2>
                                    </font>
                                  </span>
                                </font>
                              </div>
                            </div>
                          </div>
                        </span>
                      </td>
                      <td style="background-color:white;padding:0;">
                        <span style="background-color:white;">
                          <div style="margin:0;">
                            <font face="Times New Roman,serif" size="3">
                              <span style="font-size:12pt;">
                                <font size="1">
                                  <span style="font-size:1pt;">&nbsp;</span>
                                </font>
                              </span>
                            </font>
                          </div>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;">
            <tbody>
              <tr>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
                <td width="750" style="width:450pt;background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin-right:15pt;margin-left:15pt;">
                      <div>
                        <div style="margin:0;">
                          <font face="Times New Roman,serif" size="3">
                            <span style="font-size:12pt;">
                              <font face="Calibri,sans-serif" size="1" color="black">
                                <span style="font-size:1pt;">&nbsp;</span>
                              </font>
                            </span>
                          </font>
                        </div>
                      </div>
                    </div>
                    <div align="center" style="text-align:center;margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <img data-imagetype="External" src="http://oslcfest.org/images/email-speakers.png" width="100%" alt="Keynote speakers, from top to bottom: John Wiegand, Mike Amundsen and Prof. Soeren Auer">
                        </span>
                      </font>
                    </div>
                    <div style="margin-top:15pt;margin-right:15pt;margin-left:15pt;">
                      <div>
                        <div style="margin:0;">
                          <font face="Times New Roman,serif" size="3">
                            <span style="font-size:12pt;">
                              <font face="Calibri,sans-serif" size="1" color="black">
                                <span style="font-size:1pt;">&nbsp;</span>
                              </font>
                            </span>
                          </font>
                        </div>
                      </div>
                    </div>
                  </span>
                </td>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;">
            <tbody>
              <tr>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
                <td width="750" style="width:450pt;background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin-right:15pt;margin-left:15pt;">
                      <div>
                        <div style="margin:0;">
                          <font face="Times New Roman,serif" size="3">
                            <span style="font-size:12pt;">
                              <font face="Calibri,sans-serif" size="1" color="black">
                                <span style="font-size:1pt;">&nbsp;</span>
                              </font>
                            </span>
                          </font>
                        </div>
                      </div>
                    </div>
                    <div align="center" style="text-align:center;margin:0;">
                      <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:1px solid #151515;background-color: white;margin: 0 auto;">
                        <tbody>
                          <tr>
                            <td style="padding:13.5pt;">
                              <div align="center" style="text-align:center;margin:0;">
                                <font face="Times New Roman,serif" size="3">
                                  <span style="font-size:12pt;">
                                      <a href="http://oslcfest.org/#program" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                                        <font face="Roboto" size="4">
                                          <span style="font-size:13.5pt;">
                                            <font color="black">
                                              <b>Check out our Prelimiray Agenda!</b>
                                            </font>
                                          </span>
                                        </font>
                                      </a>
                                  </span>
                                </font>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div style="margin-top:15pt;margin-right:15pt;margin-left:15pt;">
                      <div>
                        <div style="margin:0;">
                          <font face="Times New Roman,serif" size="3">
                            <span style="font-size:12pt;">
                              <font face="Calibri,sans-serif" size="1" color="black">
                                <span style="font-size:1pt;">&nbsp;</span>
                              </font>
                            </span>
                          </font>
                        </div>
                      </div>
                    </div>
                  </span>
                </td>
                <td style="background-color:white;padding:0;">
                  <span style="background-color:white;">
                    <div style="margin:0;">
                      <font face="Times New Roman,serif" size="3">
                        <span style="font-size:12pt;">
                          <font size="1">
                            <span style="font-size:1pt;">&nbsp;</span>
                          </font>
                        </span>
                      </font>
                    </div>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>