<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    <div class="content--section--wrapper">
      {{ partial "content/landing.html" . }}
    </div>
    <div class="content--section--wrapper">

      {{ partial "content/call.html" . }}

      {{ partial "content/about.html" . }}
      
      <section id="speakers-anchor" class="content--section full connected">
        <div class="container wrapper wrapper-default">
          <h3 class="section--title">Speakers (TBD)</h3>
        </div>
      </section>

      <section id="program-anchor" class="content--section full connected">
        <div class="container wrapper wrapper-default">
          <h3 class="section--title">Program (TBD)</h3>
        </div>
      </section>

     {{ partial "content/organizers.html" . }}
    </div>
  </main>

  {{ partial "content/info-card.html" . }}
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>
