<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
    <header>
      {{ partial "header-alt.html" . }}
    </header>
    <main>
      <div class="content--section--wrapper">
        <section id="program-anchor" class="content--section full connected">
          {{ partial "program-table.html" . }}
        </section>
      </div>
    </main>
    <div id="infoCard" class="info-card">
        <div class="close-btn toggle-btn" data-select="#infoCard">
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="info--titles-wrap">
            <div class="info--image-wrap">
              <img class="round" data-src=""/>
            </div>
            <h4 class="item-title"></h4>
            <p class="text-center titles"></p>
          </div>
          <div class="info--bio-wrap">
            <div class="info--bio">
            </div>
            <div class="social-icons">
            </div>
          </div>
      </div>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>