.content--section{
  &.landing {
    height: 100vh;
    position: relative;

    .container.landing {
      width: 90%;
      max-width: 1600px;
      margin: 0 auto;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .section--image {
        width: 56%;

        img{
          display: block;
          width: 100%;
        }
      }

      .section--info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        h1,h2,h3 {
          text-align: center;
          font-weight: normal;
          margin: 0;
        }
        h1 {
          font-size: 120px;
        }
        h2 {
          font-size: 58px;
        }
        h3 {
          font-size: 52px;
          margin: 20px 0;
        }

        .registration {
          margin-top: 55px;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .content--section{
    &.landing {
  
      .container.landing {
        flex-direction: column;

        .section--image {
          display: none;
        }
        .section--info {
          h1,h2,h3 {
            text-align: center;
          }
          h1 {
            font-size: 52px;
          }
          h2 {
            font-size: 52px;
          }
          h3 {
            font-size: 37px;
          }

          .registration {
            p { font-size: 18px; }
          }
        }
      }
    }
  }
}