<header class="main-header">
  <a href="/" class="logo">
    OSLC FEST
  </a>
  <nav class="menu">
    <ul>
      <li><a href="#about" class="nav--item">About</a></li>
      <li><a href="#keynote" class="nav--item">Keynotes</a></li>
      <li><a href="#speakers" class="nav--item">Speakers</a></li>
      <li><a href="#program" class="nav--item">Program</a></li>
      <li><a href="#sponsors" class="nav--item">Sponsors</a></li>
      <li><a href="#venue" class="nav--item">Venue</a></li>
      <li><a href="#related" class="nav--item">Related</a></li>
      <li><a href="#register" class="nav--item button">Register</a></li>
    </ul>
  </nav>
  <div class="menu-toggle">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </div>
</header>