<!-- Will have to add a year variable -->
<div class="container wrapper wrapper-default">
  <h3 class="section--title">Program</h3>
  <h4 class="table-legend--title text-center">Color Code</h4>
  <div class="table-legend--wrap">
    <div class="program-item keynote">
      <div class="info-wrap">
        <div class="program-item--inner">
          <p>Keynote</p>
        </div>
      </div>
    </div>
    <div class="program-item techtalk">
      <div class="info-wrap">
        <div class="program-item--inner">
          <p>Technical Talk</p>
        </div>
      </div>
    </div>
    <div class="program-item break">
      <div class="info-wrap">
        <div class="program-item--inner">
          <p>Break/Networking</p>
        </div>
      </div>
    </div>
    <div class="program-item discussion">
      <div class="info-wrap">
        <div class="program-item--inner">
          <p>Panel Discussion</p>
        </div>
      </div>
    </div>
    <div class="program-item vendor">
      <div class="info-wrap">
        <div class="program-item--inner">
          <p>Vendor Demo</p>
        </div>
      </div>
    </div>
  </div>
  <div class="program-table--wrap">
    <div class="day column">
      <label>Day #1 November 5, 2018</label>
      {{ range $index, $time := .Params.start1 }}
      {{ $duration := index $.Params.duration1 $index }}
      {{ $type := index $.Params.type1 $index }}
      {{ $title := index $.Params.title1 $index }}
      {{ $authors := index $.Params.authors1 $index }}
      {{ $presentation := index $.Params.presentationLink1 $index }}
      {{ $video := index $.Params.videoLink1 $index }}
      {{ $panel := index $.Params.panelVariable1 $index }}
      <div class="program-item {{ $type }}">
        <div class="program-item--time-wrap">
          <p>{{ $time }}</p>
          <p class="program-duration"><i class="far fa-clock"></i> {{ $duration }}</p>
        </div>
        <div class="info-wrap">
          {{with $panel}}
          <div class="program-item--inner has-abstract" data-bio="{{ $panel }}" onclick="openPanel(this)">
          {{else}}
          <div class="program-item--inner">
          {{end}}
            <p>{{ $title }}</p>
            {{with $authors}}
            <p class="talk-speaker">{{ $authors }}</p>
            {{ end }}
          </div>
          {{with $presentation | or $video}}
          <div class="talk-files">
            {{with $presentation}}
            <div class="talk-presentation">
              <i class="fas fa-file-pdf"></i>
              <a target="_blank" href="{{ $presentation }}">Presentation</a>
            </div>
            {{ end }}
            {{with $video }}
            <div class="talk-video">
              <i class="fas fa-play"></i>
              <a target="_blank" href="{{ $video }}">Video</a>
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="program-table--wrap">
    <div class="day column">
      <label>Day #2 November 6, 2018</label>
      {{ range $index, $time := .Params.start2 }}
      {{ $duration := index $.Params.duration2 $index }}
      {{ $type := index $.Params.type2 $index }}
      {{ $title := index $.Params.title2 $index }}
      {{ $authors := index $.Params.authors2 $index }}
      {{ $presentation := index $.Params.presentationLink2 $index }}
      {{ $video := index $.Params.videoLink2 $index }}
      {{ $panel := index $.Params.panelVariable2 $index }}
      <div class="program-item {{ $type }}">
        <div class="program-item--time-wrap">
          <p>{{ $time }}</p>
          <p class="program-duration"><i class="far fa-clock"></i> {{ $duration }}</p>
        </div>
        <div class="info-wrap">
          <div class="program-item--inner has-abstract">
            <p>{{ $title }}</p>
            {{with $authors}}
            <p class="talk-speaker">{{ $authors }}</p>
            {{ end }}
          </div>
          {{with $presentation | or $video}}
          <div class="talk-files">
            {{with $presentation}}
            <div class="talk-presentation">
              <i class="fas fa-file-pdf"></i>
              <a target="_blank" href="{{ $presentation }}">Presentation</a>
            </div>
            {{ end }}
            {{with $video }}
            <div class="talk-video">
              <i class="fas fa-play"></i>
              <a target="_blank" href="{{ $video }}">Video</a>
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
